<h1>投稿の編集</h1>
<%= form_tag update_article_path(@article), method: 'patch' do %>
	<%= text_field_tag :title, @article.title %>
	<%= text_area_tag :content, @article.content %>
	<%= submit_tag '保存' %>
<% end %>