<h1>Article一覧</h1>

<% @articles.each do |article| %>
	<p>タイトル</p>
	<p><%= link_to article.title, article_path(article.id) %></p>
	<p><%= article.content %></p>
<% end %>

<h3><%= link_to "新規作成", new_article_path %></h3>
