<h1>Articles#new</h1>

<%= form_tag articles_path do %>
	タイトル
	<input type="text" name="article[title]">
	内容
	<textarea name="article[content]"></textarea>
	場所
	<textarea name="article[area]"></textarea>

	<input type="submit" value="投稿する">

	<div class="field">
	<%= f.label :img %>
	<%= f.file_field :img %>
	</div>


	doya
	img
<% end %>




<h3><%= link_to "", new_article_path %></h3>
