<h1>Articles#new</h1>

<%= form_tag articles_path do %>
	タイトル
	<input type="text" name="title">
	内容
	<textarea name="content"></textarea>
	<input type="submit" value="t投稿する">

	area
	doya
	img
<% end %>
