<h1 class="top">Submit my recommend spots!</h1>

<div class="container">
 	<div class="col-md-1 col-xs-0"></div>
  	<div class="col-md-10 col-xs-12">
		<% if @article.errors.any? %>
		    <div id="error_explanation" class="alert alert-danger">
		      <h2><%= @article.errors.count %>件のエラーがあります。</h2>

		      <ul>
		        <% @article.errors.full_messages.each do |message| %>
		          <li><%= message %></li>
		        <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <%= render'form' %>

	</div>

	<div class="col-md-1 col-xs-0"></div>
</div>

