<header class="jumbotron">
  <div class="container">
    <h3 class="main-title">地球にときめく</h3>
    <p class="sab-title">このサイトは旅好きの人々が隠れスポットを紹介しあい、<br>
    新しい出会いや新しい発見を生み出すサイトです。</p>
  </div>
</header>


