<h1>ようこそTravelonへ</h1>
<p>Travelonは各地の隠れスポットなどの情報を集められ更に旅の仲間を集めることができるコミュニティーを生み出す場所です。</p>

<<<<<<< HEAD
<<<<<<< HEAD
=======
<h2><%= link_to "新規作成", new_article_path %></h2>
<h2><%= link_to "一覧", articles_path %></h2>
>>>>>>> faa1419087074d5bdef07b05ffab36a6634b8703
=======

<h2><%= link_to "新規作成", new_article_path %></h2>
<h2><%= link_to "一覧", articles_path %></h2>

>>>>>>> a59107f7628875f5d8756c65faa5a4f6899ccc82
