// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*共通*/
* {
  margin: 0;
  padding: 0;
}

/*.clearfix::after{
	content: "";
	display: block;
	clear: both;
}*/

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

.top{
	padding-top: 100px;
}

/*画像の大きさ指定*/
.article-image img{
	width: 270px;
	height: 200px;
}

.article-image-show {
	text-align: center;
}

.article-image-show img{
	width: 200px;
	height: 130px;
}

/*どやの幅指定*/
.article-doya{
	width: 230px;
	height: 55px;
}

/*どや*/
.star{
    color: orange;
    margin: auto;
    display: block;
    float: left;
}

.star img{
	width: 30px;
	height: 30px;
}

/*いいね画像*/
.like-image img{
	width: 20px;
	height: 20px;
}


